extends base
block content
  - var email = 'contact@multiversetriangle.com'
  body
    if messages.error
      .alert.error= messages.error
    if messages.success
      .alert.success= messages.success

    .homepage.cf
      .r
        ul.papers
          for paper in papers
            unless paper.hide
              li: p
                a(href='/paper/' + paper._id)= paper.title
                br
                span #{paper.notes.length} notes
      .l
        a.logo(href='/') Multiverse Triangle
        if user
          p.index-nav Logged in as #{user.name} &middot; #[a(href='/logout') Logout]

        :markdown-it
          # Annotated deep learning papers

          Multiverse Triangle hopes to make deep learning more accessible by
          providing annotations for research papers, like
          [Genius](https://genius.com) does for everything else.  Click any
          paper on the right for an example.

          # Mailing List

          You can add yourself to our mailing list with this form:

        form.inline(method='post', action='/mailing')
          input(type='text', name='email', placeholder='Your email address', autofocus)
          button(type='submit') Subscribe

        :markdown-it
          Your email address will be saved in our database and we will email
          you when new papers come out. We won't send you anything else or
          share your address with anyone.

          # Source

          Multiverse Triangle is open source on Github as [multri](https://github.com/brhs/multri).
