extends layout

block title
  title #{paper.title} | Multiverse Triangle

block extraHead
  link(rel='stylesheet', href='/static/pdf2htmlex/base.min.css')
  style !{paper.content.css}
  script(src='/static/pdf2htmlex/compatibility.min.js')
  script(src='/static/pdf2htmlex/pdf2htmlEX.min.js')

block body
  #sidebar: #outline
  #app

  script.
    window.meta = {
      paper: {
        id: !{JSON.stringify(paper._id.toString())},
        html: !{JSON.stringify(paper.content.html)},
      },
      isLoggedIn: !{JSON.stringify(Boolean(user))},
      currentUser: !{JSON.stringify(user || null)},
      notes: !{JSON.stringify(notes)},
    }

  script(src='/static/bundle.js')
